html {
  /* background-color: rgb(7, 87, 7); */
  font-family:sans-serif;
  color:white;
  font-size:36px;
  text-shadow: 1px 1px black;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
}

header {
  display:flex;
  align-items:center;
  justify-content:center;
  height: 50px;
  width: 100%;
  font-weight:600;
  background-color: rgb(145, 185, 145);
}

footer {
  height: 50px;
  width: 100%;
  background-color: rgb(145, 185, 145);
}

#main {
  flex: 1;
  width: 100%;
  height: 300px;
  background-color: rgb(125, 201, 117);
  background-image:url("images/mainImg.svg");
  /* backdrop-filter: blur(4px); */
  background-position: center;
  margin: 0;

}